.idea
nbproject
composer.lock
*.log
Makefile
*-sh
build
modules
missing
*.lo
*.la
.deps
.gdbinit
.gdbinit.default
.libs/
Makefile.fragments
Makefile.global
Makefile.objects
acinclude.m4
aclocal.m4
annotation/.libs/
annotation/base.loT
autom4te.cache/
configure
configure.in
libtool
ltmain.sh
mkinstalldirs
run-tests.php
tags
vendor
.deps
CMakeLists.txt
*.lo
*.la
.libs
acinclude.m4
aclocal.m4
autom4te.cache
build
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
include
install-sh
libtool
ltmain.sh
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
missing
mkinstalldirs
modules
run-tests.php
tests/*/*.diff
tests/*/*.out
tests/*/*.php
tests/*/*.exp
tests/*/*.log
tests/*/*.sh
